<!DOCTYPE html>

<html>
  <head>
    <title> Registration Page </title>
  </head>
  <body>
    <div class="container">
      <h1>Edit Data for row {{id}}</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="First Name" name="first_name" required> <br>
        <input type="text" placeholder="Last Name" name="last_name" required> <br>
        <input type="text" placeholder="E-mail" name="email" required> <br>
        <input type="text" placeholder="Age" name="age" required> <br>
        <input type="text" placeholder="Country" name="country" required> <br>
        <input class="btn btn-default" type="submit" value="Save">
      </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
